<h1 style='text-align: center;'>Label Encoding for Categorical data</h1>

#### **1] When the target column or dependent variable is categorical in nature, it is recommended to use label encoding**
#### **2] It encode target values in between 0 and n_classes-1**
#### **3] This transformer should be used to encode target values, i.e. y, and not the input X.**
#### **4] One-hot encoding is appicable when the data is categorical-nominal in nature.**
#### **5] Whereas, *ordinal-encoding* is applicable on independent variables, i.e input x.**

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('customer-label.csv')
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
df.sample(5)

    age  gender   review education purchased
30   73    Male  Average        UG        No
45   61    Male     Poor        PG       Yes
33   89  Female     Good        PG       Yes
2    70  Female     Good        PG        No
9    74    Male     Good        UG       Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        50 non-null     int64
 1   gender     50 non-null     object
 2   review     50 non-null     object
 3   education  50 non-null     object
 4   purchased  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

**We could see except 'age' rest other columns are of object datatype.**<br>
**Gender is nominal data.**<br>
**Review and Education column are ordinal data.**<br>
**Here, the target column should be label encoded.**

In [5]:
df = df.iloc[:,2:]
df.head(2)

    review education purchased
0  Average    School        No
1     Poor        UG        No

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:2], df.iloc[:,-1], 
                                                    test_size= 0.2, random_state = 0)

In [7]:
from sklearn.preprocessing import OrdinalEncoder

#create object 
oe = OrdinalEncoder(categories = [['Poor', 'Average', 'Good'],['School', 'UG','PG']])

In [8]:
#fit on train data
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [9]:
# transform train and test sets
X_train_le = oe.transform(X_train)
X_test_le = oe.transform(X_test)

In [10]:
type(X_test_le)

numpy.ndarray

In [11]:
X_train_le = pd.DataFrame(oe.transform(X_train),columns = (['review'],['education']))
X_test_le = pd.DataFrame(oe.transform(X_test),columns = (['review'],['education']))

In [12]:
oe.categories_

#0 = Poor, School
#1 = Average, UG
#2 = Good, PG

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [13]:
from sklearn.preprocessing import LabelEncoder

#create object
le = LabelEncoder()

In [14]:
#fit on target label
le.fit(y_train)

LabelEncoder()

In [15]:
# transform train and test sets
y_train_le = pd.DataFrame(le.transform(y_train), columns = ['purchased'])
y_test_le = pd.DataFrame(le.transform(y_test), columns = ['purchased'])

In [16]:
le.classes_

#0 = No
#1 = Yes

array(['No', 'Yes'], dtype=object)

In [17]:
X_train.head(2)

   review education
33   Good        PG
35   Poor    School

In [18]:
X_train_le.head(2)

   (review,)  (education,)
0        2.0           2.0
1        0.0           0.0

In [19]:
y_train.head(2)

33    Yes
35    Yes
Name: purchased, dtype: object

In [20]:
y_train_le.head(2)

   purchased
0          1
1          1